<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ReserveForClass</title>
  <link rel="stylesheet" href="../static/css/inicio.css" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/simple-line-icons/css/simple-line-icons.css"
    />
</head>
<body>
  <!-- Navbar -->
  <header class="navbar">
    <div class="nav-left">
      <img src="../static/assets/img/logo branca.png" alt="Logo" class="logo" />
      <h1>ReserveForClass</h1>
    </div>

    <nav class="nav-links">
      <a href="/inicio" class="nav-btn active"><i class="icon-home"></i> Início</a>
      <a href="/agendar" class="nav-btn"><i class="icon-calendar"></i> Agendar</a>
      <a href="/meusagendamentos" class="nav-btn"><i class="icon-notebook"></i> Meus Agendamentos</a>
      <a href="/configuracao" class="nav-btn"><i class="icon-settings"></i> Configurações</a>
    </nav>
  </header>

  <!-- Hero -->
  <section class="hero full">
    <div class="hero-content">
      <h2>
        Bem-vindo ao sistema de agendamento <span>ReserveForClass</span>
      </h2>
      <p>
        Organize o uso dos Chromebooks de forma inteligente, simples e rápida.
        Escolha a turma, o dia e o horário — tudo em um só lugar.
      </p>
      <div class="hero-buttons">
        <a href="/agendar" class="btn primary">Agendar Chromebook</a>
        <a href="/meusagendamentos" class="btn secondary">Ver Meus Agendamentos</a>
      </div>
    </div>
    <div class="scroll-down">
        <span></span>
        <p>Role para saber como funciona para agendar</p>
      </div>
  </section>

  <!-- Como funciona -->
  <section class="steps">
    <h3>Como funciona</h3>
    <div class="steps-grid">
      <div class="step-card">
        <i class="icon-people"></i>
        <p>Selecione a turma e o professor</p>
      </div>
      <div class="step-card">
        <i class="icon-screen-desktop"></i>
        <p>Escolha a quantidade de Chromebooks</p>
      </div>
      <div class="step-card">
        <i class="icon-calendar"></i>
        <p>Defina a data da aula</p>
      </div>
      <div class="step-card">
        <i class="icon-clock"></i>
        <p>Defina o horário da aula</p>
      </div>
    </div>
  </section>

  <footer>
    <p>© 2025 ReserveForClass — Todos os direitos reservados.</p>
  </footer>

  <script src="../static/js/inicio.js"></script>
</body>
</html>